<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a>
            </li>
            <li>
                <a href="/accounts" class="active-menu"><i class="fa fa-desktop"></i> Danh sách tài
                    khoản</a>
            </li>
            <li>
                <a href="/accounts/Admin"><i class="fa fa-desktop"></i> Danh sách tài
                    khoản quản trị</a>
            </li>
            <li>
                <a href="/products"><i class="fa fa-desktop"></i> Danh sách sản phẩm</a>
            </li>
            <li>
                <a href="/orders"><i class="fa fa-desktop"></i> Danh sách đơn hàng</a>
            </li>
            <li>
                <a href="/information"><i class="fa fa-desktop"></i> Thông tin cửa hàng</a>
            </li>
        </ul>
    </div>
</nav>

<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Danh sách tài khoản
            <!-- <small>This is your UI elements section</small> -->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Danh sách tài khoản </a></li>
            <li class="active">Dữ liệu</li>
        </ol>

    </div>
    <div id="page-inner">

        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>{{numberAccount}}</h3>
                                <small>Tổng số tài khoản</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>{{accountActive}}</h3>
                                <small>Số tài khoản có thể hoạt động</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>{{accountBlocked}}</h3>
                                <small>Số tài khoản đang bị khóa</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form id="form-accounts">
            <input id="page" type="hidden" name="page" value="{{currentPage}}" >
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Danh sách
                    </div>

                    <div class="panel-body">
                        {{#each accountInPage}}
                        {{#if is_block}}
                        <div class="alert alert-danger">
                            <div class="DSTK">
                                <div class="col-md-6">
                                    <span class="space">Tên người dùng: <strong>{{HoTen}}</strong></span>
                                </div>
                                <div class="col-md-4">
                                    <span>Email: <strong>{{Email}}</strong></span>
                                </div>
                                <div class="col-md-2">
                                    <div class="btnDSTK">
                                        <form method="post">
                                            <button name="choose" value="del">xóa</button>
                                            <button name="choose" value="unblock">mở</button>
                                            <input name="account_id" type="hidden" value={{MaKhachHang}}>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="alert alert-success">
                            <div class="DSTK">
                                <div class="col-md-6">
                                    <span class="space">Tên người dùng: <strong>{{HoTen}}</strong></span>
                                </div>
                                <div class="col-md-4">
                                    <span>Email: <strong>{{Email}}</strong></span>
                                </div>
                                <div class="col-md-2">
                                    <div class="btnDSTK">
                                        <form method="post">
                                            <button name="choose" value="del">xóa</button>
                                            <button name="choose" value="block">khóa</button>
                                            <input name="account_id" type="hidden" value={{MaKhachHang}}>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>

                    <div class="page-pagination">
                        <ul>
                            <li class="li"><a id="pagination-left" class="page-link" href="#"><i
                                        class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="li"> <a class="pagination-item" href="javascript:{}">1</a></li>
                            <li class="li "> <a class="pagination-item" href="javascript:{}">2</a></li>
                            <li class="li"> <a class="pagination-item" href="javascript:{}">3</a></li>

                            <li class="li "><a id="pagination-right" class="page-link" href="#"><i
                                        class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>