<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a>
            </li>
            <li>
                <a href="/accounts"><i class="fa fa-desktop"></i> Danh sách tài
                    khoản</a>
            </li>
            <li>
                <a href="/accounts/Admin"><i class="fa fa-desktop"></i> Danh sách tài
                    khoản quản trị</a>
            </li>
            <li>
                <a href="/products"><i class="fa fa-desktop"></i> Danh sách sản phẩm</a>
            </li>
            <li>
                <a href="/orders" class="active-menu"><i class="fa fa-desktop"></i> Danh sách đơn hàng</a>
            </li>
            <li>
                <a href="/information"><i class="fa fa-desktop"></i> Thông tin cửa hàng</a>
            </li>
        </ul>
    </div>
</nav>

<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Danh sách đơn hàng
            <!-- <small>This is your UI elements section</small> -->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Danh sách đơn hàng </a></li>
            <li class="active">Dữ liệu</li>
        </ol>

    </div>
    <div id="page-inner">

        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>10</h3>
                                <small>Tổng số đơn hàng trong tháng</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>4</h3>
                                <small>Số đơn hàng chưa giao</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>6</h3>
                                <small>Số đơn hàng đã giao</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Danh sách
                        </div>
                        <form id="form-accounts">
                            <input id="page" type="hidden" name="page" value="{{currentPage}}">
                        </form>
                        {{#if order1}}
                        <div class="panel-body">
                            {{#ifCond order1.[0].TrangThaiGiaoHang '==' 0}}
                            <div class="alert alert-danger">
                                <div class="order">
                                    <div>
                                        <span class="space">Tên: <strong>{{order1.[0].HoTen}}</strong></span>
                                        <span class="space">Email: <strong>{{order1.[0].Email}}</strong></span>
                                        <span class="space">SĐT: <strong>{{order1.[0].SoDienThoai}}</strong> </span>
                                        <span class="space">Địa chỉ: <strong>{{order1.[0].DiaChiGiaoHang}}</strong>
                                        </span>
                                        <div>
                                            <table class="table">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hãng</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá bán</th>
                                                </tr>
                                                {{#each order1}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td>{{TenSanPham}}</td>
                                                    <td>{{ThuongHieu}}</td>
                                                    <td>{{SoLuongSanPham}}</td>
                                                    <td>{{DonGia}}</td>
                                                </tr>
                                                {{/each}}
                                            </table>
                                        </div>
                                    </div>

                                    <div class="btnDSTK">
                                        <span class="space">Tổng tiền: <strong>{{order1.[0].TongTien}}</strong> </span>
                                        <span class="space">Tình trạng đơn hàng: <strong>Chưa giao</strong>
                                        </span>
                                        <form method="post" class="form-order">
                                            <button name="choose" value="update">Cập nhật</button>
                                            <button name="choose" value="del">Hủy</button>
                                            <input name="order_id" type="hidden" value={{order1.[0].MaDonHang}}>
                                            <input name="account_id" type="hidden" value={{order1.[0].MaKhachHang}}>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {{/ifCond}}
                            {{#ifCond order1.[0].TrangThaiGiaoHang '==' 1}}
                            <div class="alert alert-warning">
                                <div class="order">
                                    <div>
                                        <span class="space">Tên: <strong>{{order1.[0].HoTen}}</strong></span>
                                        <span class="space">Email: <strong>{{order1.[0].Email}}</strong></span>
                                        <span class="space">SĐT: <strong>{{order1.[0].SoDienThoai}}</strong> </span>
                                        <span class="space">Địa chỉ: <strong>{{order1.[0].DiaChiGiaoHang}}</strong>
                                        </span>
                                        <div>
                                            <table class="table">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hãng</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá bán</th>
                                                </tr>
                                                {{#each order1}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td>{{TenSanPham}}</td>
                                                    <td>{{ThuongHieu}}</td>
                                                    <td>{{SoLuongSanPham}}</td>
                                                    <td>{{DonGia}}</td>
                                                </tr>
                                                {{/each}}
                                            </table>
                                        </div>
                                    </div>

                                    <div class="btnDSTK">
                                        <span class="space">Tổng tiền: <strong>{{order1.[0].TongTien}}</strong> </span>
                                        <span class="space">Tình trạng đơn hàng: <strong>Đang giao</strong>
                                        </span>
                                        <form method="post" class="form-order">
                                            <button name="choose" value="update">Cập nhật</button>
                                            <button name="choose" value="del">Hủy</button>
                                            <input name="order_id" type="hidden" value={{order1.[0].MaDonHang}}>
                                            <input name="account_id" type="hidden" value={{order1.[0].MaKhachHang}}>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {{/ifCond}}
                            {{#ifCond order1.[0].TrangThaiGiaoHang '==' 2}}
                            <div class="alert alert-success">
                                <div class="order">
                                    <div>
                                        <span class="space">Tên: <strong>{{order1.[0].HoTen}}</strong></span>
                                        <span class="space">Email: <strong>{{order1.[0].Email}}</strong></span>
                                        <span class="space">SĐT: <strong>{{order1.[0].SoDienThoai}}</strong> </span>
                                        <span class="space">Địa chỉ: <strong>{{order1.[0].DiaChiGiaoHang}}</strong>
                                        </span>
                                        <div>
                                            <table class="table">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hãng</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá bán</th>
                                                </tr>
                                                {{#each order1}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td>{{TenSanPham}}</td>
                                                    <td>{{ThuongHieu}}</td>
                                                    <td>{{SoLuongSanPham}}</td>
                                                    <td>{{DonGia}}</td>
                                                </tr>
                                                {{/each}}
                                            </table>
                                        </div>
                                    </div>

                                    <div class="btnDSTK">
                                        <span class="space">Tổng tiền: <strong>{{order1.[0].TongTien}}</strong> </span>
                                        <span class="space">Tình trạng đơn hàng: <strong>Đã hoàn thành </strong></span>
                                    </div>
                                </div>
                            </div>
                            {{/ifCond}}
                        </div>
                        {{/if}}
                        {{#if order2}}
                        <div class="panel-body">
                            {{#ifCond order2.[0].TrangThaiGiaoHang '==' 0}}
                            <div class="alert alert-danger">
                                <div class="order">
                                    <div>
                                        <span class="space">Tên: <strong>{{order2.[0].HoTen}}</strong></span>
                                        <span class="space">Email: <strong>{{order2.[0].Email}}</strong></span>
                                        <span class="space">SĐT: <strong>{{order2.[0].SoDienThoai}}</strong> </span>
                                        <span class="space">Địa chỉ: <strong>{{order2.[0].DiaChiGiaoHang}}</strong>
                                        </span>
                                        <div>
                                            <table class="table">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hãng</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá bán</th>
                                                </tr>
                                                {{#each order2}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td>{{TenSanPham}}</td>
                                                    <td>{{ThuongHieu}}</td>
                                                    <td>{{SoLuongSanPham}}</td>
                                                    <td>{{DonGia}}</td>
                                                </tr>
                                                {{/each}}
                                            </table>
                                        </div>
                                    </div>

                                    <div class="btnDSTK">
                                        <span class="space">Tổng tiền: <strong>{{order2.[0].TongTien}}</strong> </span>
                                        <span class="space">Tình trạng đơn hàng: <strong>Chưa giao</strong>
                                        </span>
                                        <form method="post" class="form-order">
                                            <button name="choose" value="update">Cập nhật</button>
                                            <button name="choose" value="del">Hủy</button>
                                            <input name="order_id" type="hidden" value={{order2.[0].MaDonHang}}>
                                            <input name="account_id" type="hidden" value={{order2.[0].MaKhachHang}}>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {{/ifCond}}
                            {{#ifCond order2.[0].TrangThaiGiaoHang '==' 1}}
                            <div class="alert alert-warning">
                                <div class="order">
                                    <div>
                                        <span class="space">Tên: <strong>{{order2.[0].HoTen}}</strong></span>
                                        <span class="space">Email: <strong>{{order2.[0].Email}}</strong></span>
                                        <span class="space">SĐT: <strong>{{order2.[0].SoDienThoai}}</strong> </span>
                                        <span class="space">Địa chỉ: <strong>{{order2.[0].DiaChiGiaoHang}}</strong>
                                        </span>
                                        <div>
                                            <table class="table">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hãng</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá bán</th>
                                                </tr>
                                                {{#each order2}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td>{{TenSanPham}}</td>
                                                    <td>{{ThuongHieu}}</td>
                                                    <td>{{SoLuongSanPham}}</td>
                                                    <td>{{DonGia}}</td>
                                                </tr>
                                                {{/each}}
                                            </table>
                                        </div>
                                    </div>

                                    <div class="btnDSTK">
                                        <span class="space">Tổng tiền: <strong>{{order2.[0].TongTien}}</strong> </span>
                                        <span class="space">Tình trạng đơn hàng: <strong>Đang giao</strong>
                                        </span>
                                        <form method="post" class="form-order">
                                            <button name="choose" value="update">Cập nhật</button>
                                            <button name="choose" value="del">Hủy</button>
                                            <input name="order_id" type="hidden" value={{order2.[0].MaDonHang}}>
                                            <input name="account_id" type="hidden" value={{order2.[0].MaKhachHang}}>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {{/ifCond}}
                            {{#ifCond order2.[0].TrangThaiGiaoHang '==' 2}}
                            <div class="alert alert-success">
                                <div class="order">
                                    <div>
                                        <span class="space">Tên: <strong>{{order2.[0].HoTen}}</strong></span>
                                        <span class="space">Email: <strong>{{order2.[0].Email}}</strong></span>
                                        <span class="space">SĐT: <strong>{{order2.[0].SoDienThoai}}</strong> </span>
                                        <span class="space">Địa chỉ: <strong>{{order2.[0].DiaChiGiaoHang}}</strong>
                                        </span>
                                        <div>
                                            <table class="table">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hãng</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá bán</th>
                                                </tr>
                                                {{#each order2}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td>{{TenSanPham}}</td>
                                                    <td>{{ThuongHieu}}</td>
                                                    <td>{{SoLuongSanPham}}</td>
                                                    <td>{{DonGia}}</td>
                                                </tr>
                                                {{/each}}
                                            </table>
                                        </div>
                                    </div>

                                    <div class="btnDSTK">
                                        <span class="space">Tổng tiền: <strong>{{order2.[0].TongTien}}</strong> </span>
                                        <span class="space">Tình trạng đơn hàng: <strong>Đã hoàn thành </strong></span>
                                    </div>
                                </div>
                            </div>
                            {{/ifCond}}
                        </div>
                        {{/if}}
                        {{#if order3}}
                        <div class="panel-body">
                            {{#ifCond order3.[0].TrangThaiGiaoHang '==' 0}}
                            <div class="alert alert-danger">
                                <div class="order">
                                    <div>
                                        <span class="space">Tên: <strong>{{order3.[0].HoTen}}</strong></span>
                                        <span class="space">Email: <strong>{{order3.[0].Email}}</strong></span>
                                        <span class="space">SĐT: <strong>{{order3.[0].SoDienThoai}}</strong> </span>
                                        <span class="space">Địa chỉ: <strong>{{order3.[0].DiaChiGiaoHang}}</strong>
                                        </span>
                                        <div>
                                            <table class="table">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hãng</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá bán</th>
                                                </tr>
                                                {{#each order3}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td>{{TenSanPham}}</td>
                                                    <td>{{ThuongHieu}}</td>
                                                    <td>{{SoLuongSanPham}}</td>
                                                    <td>{{DonGia}}</td>
                                                </tr>
                                                {{/each}}
                                            </table>
                                        </div>
                                    </div>

                                    <div class="btnDSTK">
                                        <span class="space">Tổng tiền: <strong>{{order3.[0].TongTien}}</strong> </span>
                                        <span class="space">Tình trạng đơn hàng: <strong>Chưa giao</strong>
                                        </span>
                                        <form method="post" class="form-order">
                                            <button name="choose" value="update">Cập nhật</button>
                                            <button name="choose" value="del">Hủy</button>
                                            <input name="order_id" type="hidden" value={{order3.[0].MaDonHang}}>
                                            <input name="account_id" type="hidden" value={{order3.[0].MaKhachHang}}>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {{/ifCond}}
                            {{#ifCond order3.[0].TrangThaiGiaoHang '==' 1}}
                            <div class="alert alert-warning">
                                <div class="order">
                                    <div>
                                        <span class="space">Tên: <strong>{{order3.[0].HoTen}}</strong></span>
                                        <span class="space">Email: <strong>{{order3.[0].Email}}</strong></span>
                                        <span class="space">SĐT: <strong>{{order3.[0].SoDienThoai}}</strong> </span>
                                        <span class="space">Địa chỉ: <strong>{{order3.[0].DiaChiGiaoHang}}</strong>
                                        </span>
                                        <div>
                                            <table class="table">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hãng</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá bán</th>
                                                </tr>
                                                {{#each order3}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td>{{TenSanPham}}</td>
                                                    <td>{{ThuongHieu}}</td>
                                                    <td>{{SoLuongSanPham}}</td>
                                                    <td>{{DonGia}}</td>
                                                </tr>
                                                {{/each}}
                                            </table>
                                        </div>
                                    </div>

                                    <div class="btnDSTK">
                                        <span class="space">Tổng tiền: <strong>{{order3.[0].TongTien}}</strong> </span>
                                        <span class="space">Tình trạng đơn hàng: <strong>Đang giao</strong>
                                        </span>
                                        <form method="post" class="form-order">
                                            <button name="choose" value="update">Cập nhật</button>
                                            <button name="choose" value="del">Hủy</button>
                                            <input name="order_id" type="hidden" value={{order3.[0].MaDonHang}}>
                                            <input name="account_id" type="hidden" value={{order3.[0].MaKhachHang}}>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {{/ifCond}}
                            {{#ifCond order3.[0].TrangThaiGiaoHang '==' 2}}
                            <div class="alert alert-success">
                                <div class="order">
                                    <div>
                                        <span class="space">Tên: <strong>{{order3.[0].HoTen}}</strong></span>
                                        <span class="space">Email: <strong>{{order3.[0].Email}}</strong></span>
                                        <span class="space">SĐT: <strong>{{order3.[0].SoDienThoai}}</strong> </span>
                                        <span class="space">Địa chỉ: <strong>{{order3.[0].DiaChiGiaoHang}}</strong>
                                        </span>
                                        <div>
                                            <table class="table">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hãng</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá bán</th>
                                                </tr>
                                                {{#each order3}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td>{{TenSanPham}}</td>
                                                    <td>{{ThuongHieu}}</td>
                                                    <td>{{SoLuongSanPham}}</td>
                                                    <td>{{DonGia}}</td>
                                                </tr>
                                                {{/each}}
                                            </table>
                                        </div>
                                    </div>

                                    <div class="btnDSTK">
                                        <span class="space">Tổng tiền: <strong>{{order3.[0].TongTien}}</strong> </span>
                                        <span class="space">Tình trạng đơn hàng: <strong>Đã hoàn thành </strong></span>
                                    </div>
                                </div>
                            </div>
                            {{/ifCond}}
                        </div>
                        {{/if}}
                        {{#if order4}}
                        <div class="panel-body">
                            {{#ifCond order4.[0].TrangThaiGiaoHang '==' 0}}
                            <div class="alert alert-danger">
                                <div class="order">
                                    <div>
                                        <span class="space">Tên: <strong>{{order4.[0].HoTen}}</strong></span>
                                        <span class="space">Email: <strong>{{order4.[0].Email}}</strong></span>
                                        <span class="space">SĐT: <strong>{{order4.[0].SoDienThoai}}</strong> </span>
                                        <span class="space">Địa chỉ: <strong>{{order4.[0].DiaChiGiaoHang}}</strong>
                                        </span>
                                        <div>
                                            <table class="table">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hãng</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá bán</th>
                                                </tr>
                                                {{#each order4}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td>{{TenSanPham}}</td>
                                                    <td>{{ThuongHieu}}</td>
                                                    <td>{{SoLuongSanPham}}</td>
                                                    <td>{{DonGia}}</td>
                                                </tr>
                                                {{/each}}
                                            </table>
                                        </div>
                                    </div>

                                    <div class="btnDSTK">
                                        <span class="space">Tổng tiền: <strong>{{order4.[0].TongTien}}</strong> </span>
                                        <span class="space">Tình trạng đơn hàng: <strong>Chưa giao</strong>
                                        </span>
                                        <form method="post" class="form-order">
                                            <button name="choose" value="update">Cập nhật</button>
                                            <button name="choose" value="del">Hủy</button>
                                            <input name="order_id" type="hidden" value={{order4.[0].MaDonHang}}>
                                            <input name="account_id" type="hidden" value={{order4.[0].MaKhachHang}}>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {{/ifCond}}
                            {{#ifCond order4.[0].TrangThaiGiaoHang '==' 1}}
                            <div class="alert alert-warning">
                                <div class="order">
                                    <div>
                                        <span class="space">Tên: <strong>{{order4.[0].HoTen}}</strong></span>
                                        <span class="space">Email: <strong>{{order4.[0].Email}}</strong></span>
                                        <span class="space">SĐT: <strong>{{order4.[0].SoDienThoai}}</strong> </span>
                                        <span class="space">Địa chỉ: <strong>{{order4.[0].DiaChiGiaoHang}}</strong>
                                        </span>
                                        <div>
                                            <table class="table">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hãng</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá bán</th>
                                                </tr>
                                                {{#each order4}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td>{{TenSanPham}}</td>
                                                    <td>{{ThuongHieu}}</td>
                                                    <td>{{SoLuongSanPham}}</td>
                                                    <td>{{DonGia}}</td>
                                                </tr>
                                                {{/each}}
                                            </table>
                                        </div>
                                    </div>

                                    <div class="btnDSTK">
                                        <span class="space">Tổng tiền: <strong>{{order4.[0].TongTien}}</strong> </span>
                                        <span class="space">Tình trạng đơn hàng: <strong>Đang giao</strong>
                                        </span>
                                        <form method="post" class="form-order">
                                            <button name="choose" value="update">Cập nhật</button>
                                            <button name="choose" value="del">Hủy</button>
                                            <input name="order_id" type="hidden" value={{order4.[0].MaDonHang}}>
                                            <input name="account_id" type="hidden" value={{order4.[0].MaKhachHang}}>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {{/ifCond}}
                            {{#ifCond order4.[0].TrangThaiGiaoHang '==' 2}}
                            <div class="alert alert-success">
                                <div class="order">
                                    <div>
                                        <span class="space">Tên: <strong>{{order4.[0].HoTen}}</strong></span>
                                        <span class="space">Email: <strong>{{order4.[0].Email}}</strong></span>
                                        <span class="space">SĐT: <strong>{{order4.[0].SoDienThoai}}</strong> </span>
                                        <span class="space">Địa chỉ: <strong>{{order4.[0].DiaChiGiaoHang}}</strong>
                                        </span>
                                        <div>
                                            <table class="table">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hãng</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá bán</th>
                                                </tr>
                                                {{#each order4}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td>{{TenSanPham}}</td>
                                                    <td>{{ThuongHieu}}</td>
                                                    <td>{{SoLuongSanPham}}</td>
                                                    <td>{{DonGia}}</td>
                                                </tr>
                                                {{/each}}
                                            </table>
                                        </div>
                                    </div>

                                    <div class="btnDSTK">
                                        <span class="space">Tổng tiền: <strong>{{order4.[0].TongTien}}</strong> </span>
                                        <span class="space">Tình trạng đơn hàng: <strong>Đã hoàn thành </strong></span>
                                    </div>
                                </div>
                            </div>
                            {{/ifCond}}
                        </div>
                        {{/if}}
                    </div>
                    <div class="page-pagination">
                        <ul>
                            <li class="li"><a id="pagination-left" class="page-link" href="#"><i
                                        class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="li"> <a class="pagination-item" href="javascript:{}">1</a></li>
                            <li class="li "> <a class="pagination-item" href="javascript:{}">2</a></li>
                            <li class="li"> <a class="pagination-item" href="javascript:{}">3</a></li>

                            <li class="li "><a id="pagination-right" class="page-link" href="#"><i
                                        class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>