<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a>
            </li>
            <li>
                <a href="/accounts"><i class="fa fa-desktop"></i> Danh sách tài
                    khoản</a>
            </li>
            <li>
                <a href="/accounts/Admin"><i class="fa fa-desktop"></i> Danh sách tài
                    khoản quản trị</a>
            </li>
            <li>
                <a href="/products" class="active-menu"><i class="fa fa-desktop"></i> Danh sách sản phẩm</a>
            </li>
            <li>
                <a href="/orders"><i class="fa fa-desktop"></i> Danh sách đơn hàng</a>
            </li>
            <li>
                <a href="/information"><i class="fa fa-desktop"></i> Thông tin cửa hàng</a>
            </li>
        </ul>
    </div>
</nav>

<div id="page-wrapper">

    <div class="header">
        <h1 class="page-header">
            Chi tiết sản phẩm
            <!-- <small>This is your UI elements section</small> -->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Danh sách sản phẩm </a></li>
            <li class="active">Dữ liệu</li>
        </ol>

    </div>
    <div class="content">
        <div class="row">
            
            <div class="col-md-8 col-sm-12 col-xs-12 add-product">
                <div class="product-detail">
                    <h3>THÔNG TIN LOẠI SẢN PHẨM</h3>
                    <form method="post" id="form-category">
                    <ul class="product-inf">
                        
                        {{!-- {{#each infoProduct}} --}}
                        <ul class="product-inf-category 1">
                            <input type="hidden" id="type" name="idProduct" value="{{category.MaSanPham}}">
                            <input type="hidden" id="type" name="idCategory" value="{{category.LoaiSanPham}}">
                            <li>
                                <label for="type">Tên loại sản phẩm: </label>
                                <input type="text" id="type" name="type" class="inf category" value="{{category.TenLoaiSanPham}}">
                            </li>
                            <li>
                                <label for="ram">Ram(GB): </label>
                                <input type="number" id="ram" name="ram" class="inf category" value="{{category.Ram}}">
                            </li>
                            <li>
                                <label for="rom">Bộ Nhớ(GB): </label>
                                <input type="number" id="rom" name="rom" class="inf category" value="{{category.Rom}}">
                            </li>
                            <li>
                                <label for="screen">Màn Hình: </label>
                                <input type="text" id="screen" name="screen" class="inf category" value="{{category.ManHinh}}">
                            </li>
                            <li>
                                <label for="resolution">Độ Phân Giải: </label>
                                <input type="text" id="resolution" name="resolution" class="inf category"
                                    value="{{category.DoPhanGiai}}">
                            </li>
                            <li>
                                <label for="cpu">Chip Xử Lí: </label>
                                <input type="text" id="cpu" name="cpu" class="inf category" value="{{category.ChipXuLi}}">
                            </li>
                            <li>
                                <label for="battery">Pin(mAh): </label>
                                <input type="number" id="battery" name="battery" class="inf category" value="{{category.Pin}}">
                            </li>
                            <li>
                                <label for="color">Màu Sắc: </label>
                                <input type="text" id="color" name="color" class="inf category" value="{{category.MauSac}}">
                            </li>
                            <li>
                                <label for="price">Đơn Giá(vnđ): </label>
                                <input type="number" id="price" name="price" class="inf category" value="{{category.DonGia}}">
                            </li>
                            <li>
                                <label for="amount">Số Lượng: </label>
                                <input type="number" id="amount" name="amount" class="inf category" value="{{category.SoLuong}}">
                            </li>
                        </ul>
                        {{!-- {{/each}} --}}
                    </ul>
                    </form>
                    <div id="add-product-category-error" class="text-danger"></div>
                </div>
            </div>
        </div>
        <div class="btn-submit-cancel-section">
            <button type="button" id="add-product-btn" class="btn btn-success">Thêm Sản Phẩm</button>
            <a href="/products/{{idProduct}}"><button type="button" id="cancel-btn" class="btn btn-danger">Hủy</button></a>
        </div>


    </div>

</div>

{{!-- Handle for show image before upload --}}
<script src="/javascripts/addCategory.js"></script>