<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a>
            </li>
            <li>
                <a href="/accounts"><i class="fa fa-desktop"></i> Danh sách tài
                    khoản</a>
            </li>
            <li>
                <a href="/accounts/Admin"><i class="fa fa-desktop"></i> Danh sách tài
                    khoản quản trị</a>
            </li>
            <li>
                <a href="/products" class="active-menu"><i class="fa fa-desktop"></i> Danh sách sản phẩm</a>
            </li>
            <li>
                <a href="/orders"><i class="fa fa-desktop"></i> Danh sách đơn hàng</a>
            </li>
            <li>
                <a href="/information"><i class="fa fa-desktop"></i> Thông tin cửa hàng</a>
            </li>
        </ul>
    </div>
</nav>

<div class="content">
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                Danh sách sản phẩm
                <!-- <small>This is your UI elements section</small> -->
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Danh sách sản phẩm </a></li>
                <li class="active">Dữ liệu</li>
            </ol>

        </div>

        <div id="page-inner">
            <div class="panel panel-default">

                <div class="panel-heading">
                    Danh sách
                </div>

                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <!-- Preview image before upload-->
                            <div class="left-content">
                                <div style="font-size: 18px;"><strong>Upload ảnh</strong></div>
                                <form class="form-image" action="/api/upload-images" method="post" id="form-image">
                                    <input class="d-none" type="file" name="Image" id="image" accept=".png, .jpeg, .jpg"
                                        multiple="">
                                    <input type="hidden" id="idProduct" name="idProduct" value="{{product_id}}">
                                </form>
                                <div class="image-main justify-content-center position-relative" id="container-image"
                                    style="background-color: #b2afaf;">
                                    <!-- Image will be show here-->
                                </div>
                                <div id="add-image-btn"><i class="fas fa-plus-square fa-5x"></i></i></div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12 add-product">
                            <form method="post">
                                <div class="product-detail">
                                    <h3>THÔNG TIN SẢN PHẨM</h3>
                                    <ul class="product-inf">
                                        <li>
                                            <label for="product-name">Tên Sản Phẩm: </label>
                                            <input type="text" id="product-name" name="productName" class="inf product"
                                                value="{{infoProduct.[0].TenSanPham}}">
                                        </li>
                                        <li>
                                            <label for="brand">Thương Hiệu </label>
                                            <input type="text" id="brand" name="brand" class="inf product"
                                                value="{{infoProduct.[0].ThuongHieu}}">
                                        </li>
                                        <li>
                                            <label for="description">Mô Tả: </label>
                                            <textarea type="text" id="description" name="description"
                                                class="inf product">{{infoProduct.[0].MoTa}}</textarea>
                                        </li>
                                    </ul>
                                    <button type="submit"> Lưu </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="font-size: 18px;">
                        <div class="panel-heading">
                            <strong>Danh sách loại sản phẩm</strong>
                        </div>
                    </div>
                    <div class="row" style="font-size: 18px;">
                        <ul>
                            {{#each infoProduct}}
                            <li>Tên loại: <a
                                    href="/products/{{../product_id}}/{{LoaiSanPham}}"><strong>{{TenLoaiSanPham}}</strong></a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="row" style="font-size: 18px; margin: 5px;">
                        <a href="/products/{{product_id}}/add"><button>Thêm loại</button></a>
                    </div>
                    <div style="font-size: 18px; margin:30px 5px 20px"><strong>Danh sách hình ảnh sản phẩm</strong>
                    </div>
                    <div class="row" style="font-size: 18px; margin: 10px 5px; ">

                        {{#each images}}
                        <div class="col-3" style="text-align: center;">
                            <img src="{{HinhAnh}}" style="width: 200px; height: auto;">
                            <form method="post" action="/products/delImage">
                                <div style="margin: 5px;"><button type="submit" name="idImage"
                                        value="{{MaHinhAnh}}">Xóa</button></div>
                            </form>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/upload-image-detail.js"></script>